.matchPage {
    padding: 10px;
    background-color: #f4f7f6;
}

.matchPage__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.matchPage__Emblem{
    text-align: center;
}

.matchPage__score_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchPage__status {
    font-size: 8pt;
    color: #49aa9e;
    border: 2px solid #49aa9e;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 8px;
}

.matchPage__score {
    font-size: 32pt;
}

.matchPage__half, .matchPage__datetime {
    font-size: 9pt;
    color: #ababab;
}

.matchPage__league {
    text-align: center;
    font-size: 9pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

.matchPage__league span {
    margin-right: 15px;    
}

.matchPage__league_title {
    font-weight: 600;
}

.matchPage__odds {
    width: 100%;
}