.rightSidebar {
  text-align: center;
}

.rightSidebar #menu {
  background: #f5f7f6;
}

.rightSidebar .nav-countries {
  background-color: #f5f7f6 !important;
}

.rightSidebar #menu .nav-countries .panel-title a[aria-expanded="true"] {
  background-color: #f5f7f6 !important;
  border-left: none;
}

.rightSidebar .headline {
  text-align: left;
}

.rightSidebar #menu .nav-countries .panel .list-group .list-group-item a {
  background: #f5f7f6;
}

.rightSidebar #menu .nav-countries .panel .list-group .list-group-item {
  border-left: none;
}

.rightSidebar ul li {
  margin-bottom: 10px;
  border: none;
}

.rightSidebar .league .badge {
  background: transparent !important;
}

.rightSidebar ul li:after {
  border: none !important;
}

.rightSidebar ul li a {
  text-align: left;
  color: #ababab !important;
}

.rightSidebar .panel a {
  text-align: left;
}

.rightSidebar .r-search {
  width: 90%;
  background: transparent;
  border: 1px solid #ddd;
  padding: 5px 10px;
  color: #999;
  font-size: 12px;
}

@media (max-width: 768px) {
  .rightSidebar .rightMenu {
    width: 100% !important;
    min-height: auto !important;
  }
}

.rightSidebar .r-select {
  width: 90%;
  background: transparent;
  border: 1px solid #ddd;
  padding: 0 10px;
  color: #999;
  font-size: 12px;
  height: 30px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.rightSidebar .r-search::-webkit-input-placeholder {
  color: #aaacab;
}

.rightSidebar .r-pts .badge {
  float: none;
  display: block;
  padding: 0;
  background-color: transparent !important;
}

.rightSidebar .r-pts {
  float: right;
}

.rightSidebar .nav-countries .league a:before {
  display: none !important;
  width: 0px;
  height: 0px;
}
.y-card,
.r-card {
  display: inline-block;
  width: 14px;
  height: 17px;
  margin-left: 5px;
  background: #f7c70b;
  float: left;
}

.r-card {
  background: #dc6d52;
}
