@import './libraries/material-icons';
@import './libraries/font-awesome';

@import './variables/configs';
@import './utilities/mixins';
@import './utilities/common';

// -----------------------------
// All components in site
// -----------------------------
@import './layout/header';
@import './layout/sidebar';

@import './components/home';
@import './components/odds';
@import './components/matchPage';

// -----------------------------
// All pages
// -----------------------------
@import './pages/home';
