/*
|--------------------------------------------------
| Colors
|--------------------------------------------------
*/
$white: #ffffff;

$blue: #006dc8;

$gray: #999999;

$green: #00be28;

$light-red: #e26a73;

$orange: #ff931e;

$yellow: #e6e550;


$primary: $blue;
$secondary: #00b9a7;
$warning: #e23b3b;


/*
|--------------------------------------------------
| Sizes
|--------------------------------------------------
*/
$height_header: 4rem;
$width_sidebar: 250px;


/*
|--------------------------------------------------
| z-index
|--------------------------------------------------
*/
$max-z-index: 9999;

$index_header: 10;
$index_sidebar: 10;