.player-stats ul li {
  border: none;
  padding: 5px 15px;
}

.player-stats ul li a {
  color: rgb(182, 183, 183);
  font-size: 13px;
}

.player-stats ul li span {
  background-color: none !important;
  float: right;
  color: #000;
}

.pl-list-table {
  margin-right: 10px;
  text-align: left;
}

.rightSidebar .pl-list-table {
  font-size: 12px;
  padding-left: 5px;
}

.pl-list li {
  text-align: left;
  background: #f5f7f6;
  padding: 5px 10px;
  margin-bottom: 0px;
  font-size: 13px;
}
