* {
  box-sizing: border-box;
}

body{
  font-family:Montserrat,sans-serif;
}

.App {
  min-width: 990px;
  margin: 0 auto;
}

.App__Content {
  display: flex;
  flex-direction: row;
}


.App__Header {
  background-color: #40948b;
  height: 90px;
}

.App__LeftSidebar {
  flex-basis: 25%;
  /*width: 250px;*/
  /*height: 500px;*/
}

.App__Home {
  flex-basis: 50%;
}

.App__RightSidebar {
  flex-basis: 25%;
  /*width: 250px;*/
  height: 500px;
}